.s-status {
  align-self: flex-start;
  padding-bottom: 2%;
  color: $main-grey;
}

.s-status-title {
  font-weight: bold;
}

.s-groups {
  margin: auto;
  width: 90%;
}

.s-group {
  padding: 2% 0px 2% 0px;
  margin-bottom: 2%;
  border-radius: 12px;
  background-color: white;
  color: $main-grey;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
}

.s-group-name {
  text-align: left;
  padding-left: 2%;
  padding-bottom: 2%;
}

.s-question, .user-rating, .q-avg-rating {
  text-align: end;
  padding-right: 2%;
}

.s-question-data {
  padding: 10px 0px;
}

.s-question-data, .s-question {
  margin-bottom: 1%;
}

.s-question {
  color: $main-grey;
  font-weight: bold;
}

.q-avg-rating {
  font-style: italic;
}

.s-response-count {
  text-align: left;
}

.s-team-title {
  color: $main-grey;
  font-weight: bold;
}
