.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 2% 1% 2%;
  align-items: center;
  height: 12vh;
  min-height: 5.3125rem;
}

.nav-left {
  display: flex;
  align-items: center;
  min-width: 530px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  width: 40%;
  justify-content: flex-end;
  margin-bottom: 2%;
  margin-right:2%;
  li {
    width: 100px;
  }
}

.nav-right a {
  color: #5f5f5f;
  text-decoration: none;
  -webkit-transition: border-color .333s;
  transition: border-color .333s;
  font-weight: bold;
  margin-left: 10%;
  text-decoration: none;
  width: 40%;
  letter-spacing: -1px;
  text-transform: uppercase;
  &:hover {
    border-bottom: 3px solid $main-blue;
  }
}

.turing-logo {
  height: 5.3125rem;
  width: 5.3125rem;
  padding-right: 15%;
  padding-left: 15%;
}

.feedback-loop-title-text {
  font-size: 60px;
  color: $main-grey;
  font-weight: bolder;
  justify-content: left;
  margin: 0px;
  text-decoration: none;
  letter-spacing: -3px;
}

.feedback-loop-title {
  text-decoration: none;
  align-items: center;
  margin-left: 0%;
}
