.header-container {
  display: flex;
  width: 100%;
  margin: 25px;
  align-items: center;
}

.turing-logo {
  height: 5.3125rem;
  width: 5.3125rem;
  padding-right: 15%;
  padding-left: 15%;
}

.feedback-loop-title-text {
  font-size: 60px;
  color: $main-grey;
  font-weight: bolder;
  justify-content: left;
  margin: 0px;
  text-decoration: none;
}

.feedback-loop-title {
  text-decoration: none;
  align-items: center;
}
