.header-container {
  display: flex;
  width: 100%;
  margin: 25px;
}

.feedback-loop-title-text {
  font-size: 60px;
  color: $main-grey;
  font-weight: bolder;
  justify-content: left;
  margin: 0px;
}