//FONTS
$main-font: 'Open Sans', sans-serif;

//COLORS
$main-blue: #13F1FC;
$main-blue-hover: #42f3fc;
$accent-teal: #016575;
$main-grey: #5F5F5F;
$accent-charcoal: #2A2A2A;
$light-grey: #dfdfdf;
$light-grey-hover: #efefef;
$white: #fff;
$accent-red: #EF3853;
$accent-gold: #F9AE05;
$accent-gold-hover: #f9ae05a1;