.owners-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-height: 62vh;
  overflow: auto;
  margin: 2% 0;
}

.owners-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 43px;
  color: #FFF;
  font-weight: bolder;
  text-shadow: black 0px 0px 5px;
}

.submit-button {
  width: 28%;
  background-color: $main-blue;
  border-radius: 5px;
  border: none;
  color: $accent-teal;
  font-family: $main-font;
  font-weight: bold;
  font-size: 16px;
  height: 40px;
  &:hover {
    cursor: pointer;
    background-color: $main-blue-hover;
  }
}
