.login-container {
  background: $white;
  width: 40%;
  margin: auto;
  padding: 25px;
}

.login-button {
  background-color: $main-blue;
  border-radius: 50px;
  border: none;
  color: $accent-teal;
  font-family: $main-font;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  width: 80%;
  &:hover {
    cursor: pointer;
    background-color: $main-blue-hover;
  }
}
