.login-landing {
  background: $white;
  width: 40%;
  margin: auto;
  padding: 25px;
  border-radius: 5px;
  border-top: .65rem solid $main-blue;
}

.login-form {
  margin: 20px 0px;
}

.login-input {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 5px;
    &:focus {
      outline: none;
    }
}

.email,
.password,
.full-name {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.role-input {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 10px
}

.role-choice {
  display: flex;
  margin-left: 20px;
}

.role-input-p {
  margin: 0px;
  font-size: 16px;
}

.login-button {
  background-color: $main-blue;
  border-radius: 50px;
  border: none;
  color: $accent-teal;
  font-family: $main-font;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  &:hover {
    cursor: pointer;
    background-color: $main-blue-hover;
  }
}
