@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import './utils/variables.scss';
@import './containers/Login/Login.scss';
@import './containers/Dashboard/Dashboard.scss';
@import './containers/NewSurvey/NewSurvey.scss';
@import './components/Header/Header.scss';
@import './containers/App/App.scss';
@import './components/Question/Question.scss';
@import './components/Loader/Loader.scss';
@import './containers/RecipientForm/RecipientForm.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}